@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 0px 20px;
    background-color: rgb(133, 133, 133);
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    align-items: center;
}
a:hover{
    color: blue;
}
a {
    color: white;
    text-decoration: none;
    opacity: .5
}
a.active{
    opacity: 1;
}
.btn{
    background-color: rgb(65, 187, 218);
    color: white;
    box-shadow: 5px 5px black;
    min-height: 30px;
    border-radius: 4px;
}